* {
    margin: 0px;
    padding: 0px;
}

.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 200px;
    height: 200px;
    background-color: #43bd92;
    border-color: white white black white;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    animation: makimaki 3s 3 linear;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(16, 29, 23);
    font-size: 18px;
    box-shadow: 1px 1px 30px black;
    font-family: cursive;
}

@keyframes makimaki {
    0%{border-color: white white #375c67 white;width: 200px;height: 200px;font-size: 18px;color: rgb(112, 134, 98);}

    25%{border-color: white white white #375c67 ;width: 230px;height: 230px;font-size: 20px;color: rgb(61, 154, 104);}

    50%{border-color: #375c67  white white white ;width: 260px;height: 260px;font-size:22px ;font-weight: bolder ;color: rgb(60, 121, 30)}

    75%{border-color: white #375c67 white white ;width: 230px;height: 230px;font-size: 20px;color: rgb(61, 154, 104);}

    100%{border-color: white white #375c67 white ;width: 200px;height: 200px;font-size: 18px;color: rgb(112, 134, 98);}
}